{{- if and .IsHome site.Params.profileMode.enabled }}
<div id="home-animated-bg" aria-hidden="true">
  <div class="home-bg-gradient"></div>
  <canvas id="home-bg-canvas"></canvas>
</div>
<script src="{{ "js/home-bg.js" | relURL }}" defer></script>
{{- end }}

{{- if eq .Section "posts" }}
<div id="posts-paper-bg" aria-hidden="true">
  <div class="posts-paper-sky"></div>
  <canvas id="posts-paper-canvas"></canvas>
</div>
<script src="{{ "js/posts-paper-planes.js" | relURL }}" defer></script>
{{- end }}
